<p>kodes is a simple service that allows you to test that your front-end code handles HTTP response codes properly</p>
<h3>redirect your HTTP calls to a url in the following format</h3>
<p><%= url('/k/') %><span class="orange">&lt;http-code&gt;</span></p>
<h3>try some of them</h3>
<p>
<ul>
	<li><a href="<%= url('/k/201') %>"><%= url('/k/') %>201</a></li>
	<li><a href="<%= url('/k/403') %>"><%= url('/k/') %>403</a></li>
	<li><a href="<%= url('/k/405') %>"><%= url('/k/') %>405</a></li>
	<li><a href="<%= url('/k/500') %>"><%= url('/k/') %>500</a></li>
	<li><a href="<%= url('/k/504') %>"><%= url('/k/') %>504</a></li>
</ul>
</p>
<small>Check your browser console for the http status of the response</small>